<h1>Request in <%= @patient.Name %></h1> <p>
<b>Request details:</b>
<%= @request.details %>
</p>
<!-- provding links to edit and to back -->
<% if current_user.admin? %>
    <%= link_to 'Edit', edit_patient_request_path(@patient, @request), class: "btn btn-default" %>
<% end %>
<%= link_to 'Back', patient_requests_path(@patient), class: "btn btn-default" %>
